@import url("https://fonts.googleapis.com/css2?family=Inter&family=Karla&family=Mulish&family=Nunito&family=Prompt&display=swap");
*,
*::before,
*::after {
  font-family: nunito;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #1da1f2;
}

h1 {
  display: flex;
  justify-content: center;
  background-color: var(--primary);
  padding: 1rem;
  font-size: xx-large;
  text-align: center;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 1rem;
}

#inputText,
#outputText {
  display: flex;
  padding: 1rem;
  margin: auto;
  height: 20vh;
  border: 3px solid rgba(0, 0, 0, 0.664);
  width: 80%;
  margin-top: 1rem;
  background-color: rgb(255, 255, 255);
}

button:hover {
  background-color: #009dffa2;
  border: 3px solid rgba(0, 0, 0, 0.856);
  transition: 0.5;
}

button {
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
  font-size: large;
  border: 3px solid rgba(0, 0, 0, 0.664);
  background-color: var(--primary);
}

.flex-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
}

.btn-container {
  display: flex;
  justify-content: center;
}

/* footer */

.footer {
  background-color: var(--primary);
  padding: 1rem 1rem;
  text-align: center;
  color: rgb(0, 0, 0);
  position: relative;
  bottom: 0px;
  width: 100%;
}

.footer .link {
  color: rgb(0, 0, 0);
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}
/* links */

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

h2 {
  padding: 0.5rem;
}

body {
  background-image: url(./bg.png);
}
